%p.text-center.about-font.text-uppercase.medium-body
  This is a website dedicated to
  %br
  helping you shorten your URL's.
  %br
  What is the point you may ask?
  %br
  A long and complex URL not only
  %br
  appears daunting, but obscures
  %br
  the true meaning of the URL.
  %br
  The aim is to provide a simpler
  %br
  way to reach your destination
  %br
  without compromising the integrity
  %br
  of the address.
