.container
  .row
    .col-lg-12
      .panel.panel-default.top-margin
        .panel-heading
          .row
            .col-lg-6.col-xs-12
              %h3.panel-tile
                New Shortened Link
        .panel-body
          = render 'form'
          %br
